<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.workbench.mapper.ClueActivityRelationMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="clue_id" jdbcType="CHAR" property="clueId" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, clue_id, activity_id
  </sql>

</mapper>