<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjpowernode.crm.settings.mapper.DicValueMapper" >
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.settings.domain.DicValue" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="texselectAllDicValuest" property="text" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, value, text, order_no, type_code
  </sql>
  <select id="selectAllDicValues" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tbl_dic_value
    order by type_code,order_no
  </select>
  <insert id="insertDicValue" parameterType="com.bjpowernode.crm.settings.domain.DicValue">
    insert into tbl_dic_value(id,value,text,order_no,type_code)
    values (#{id},#{value},#{text},#{orderNo},#{typeCode})
  </insert>
  <delete id="deleteDicValueByIds" parameterType="string">
     delete from tbl_dic_value where id in
     <foreach collection="array" item="id" open="(" close=")" separator=",">
        #{id}
     </foreach>
  </delete>

  <select id="selectDicValueById" parameterType="string" resultMap="BaseResultMap">
    select dv.id,dt.name as type_code,dv.value,dv.text,dv.order_no
    from tbl_dic_value dv
    join tbl_dic_type dt on dv.type_code=dt.code
    where dv.id=#{id}
  </select>

  <update id="updateDicValue" parameterType="com.bjpowernode.crm.settings.domain.DicValue">
    update tbl_dic_value
    set value =#{value},text=#{text},order_no=#{orderNo}
    where id=#{id}
  </update>

  <delete id="deleteDicValueByTypeCodes" parameterType="string">
    delete from tbl_dic_value where type_code in
    <foreach collection="array" item="typeCode" open="(" close=")" separator=",">
      #{typeCode}
    </foreach>
  </delete>

  <select id="selectDicValueByTypeCode" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tbl_dic_value
    where type_code=#{typeCode}
    order by order_no asc
  </select>
</mapper>